@font-face {
  font-family: 'lily'; /* 自定义字体名称 */
  font-display: block;
  src: url('../font/lily.TTF') format("truetype");
}

body {
  font-family: 'lily', sans-serif; /* 应用到全局 */
}

.post-content {
  font-size: 18px;   /* 整个文章内容区域的文字大小都会变 */
}